@import "normalize";
@import "bourbon";
@import "base/base";
@import "neat";
@import "fonts";

html, body {
  height: 100%;
}
body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.wrap {
  position: relative;
}

.wrap .honeycomb {
  display: block;
  position: absolute;
  top: -47px;
  left: -13px;
  height: 450px;
  transform: rotateX(180deg);
  transform-origin: center 20%;
}

.wrap .honeycomb .column {
  display: block;
  float: left;
  width: 62px;
}

.wrap .honeycomb .column:nth-child(odd) { margin-top: 36px; }

.wrap .honeycomb .hex {
  display: block;
  position: relative;
  float: left;
  margin: 0;
  height: 72px;
  width: 62px;
  color: #fff;
  opacity: 0.2;
}

.wrap .honeycomb .hex .wrapper {
  display: block;
  height: 100%;
  width: 100%;
}

.wrap .honeycomb .hex .wrapper .color-1 { background: $bts-red; }

.wrap .honeycomb .hex .wrapper .color-1:before { border-right-color: $bts-red; }

.wrap .honeycomb .hex .wrapper .color-1:after { border-left-color: $bts-red; }

.hexagon {
  display: block;
  position: absolute;
  width: 36px;
  height: 62px;
  background-color: #ffffff;
}

.hexagon:before,
.hexagon:after {
  content: "";
  position: relative;
  float: left;
  border-top: 31px solid transparent;
  border-bottom: 31px solid transparent;
}

.hexagon:before {
  border-right: 18px solid #ffffff;
  left: -18px;
}

.hexagon:after {
  border-left: 18px solid #ffffff;
  right: -18px;
}

.hidden { display: none; }

nav { 
  @include outer-container(); 
  .brand {
    @include span-columns(1);
    padding-top: 25px;
    position: relative;
    z-index: 1;
    img {
      height: 75px;
    } 
  }
  .main-menu {
    @include span-columns(11);
    display: inline-block;
    text-align: center;
    padding-top: 30px;
    li {
      padding-right: 70px;
      text-transform: uppercase;
      display: inline-block;
      float: left;
      a {
        font-size: 14px;
        font-weight: 700;
        line-height: 4.75em;
        &:after {
          content: "";
          position: relative;
          bottom: 1.5em;
          @include transition(all 0.2s linear);
          background-color: white;
          display: block;
          height: 0.2em;
          opacity: 0;
          margin-top: 0.5em;
        }
        &:hover {
          &:after {
            background-color: $bts-red;
            opacity: 1;
          }
        }
      }
    }
  }
}

.banner {
  @include outer-container();
  display: block;
  height: 100%;
}

.jumbo {
  padding: 15px;
  margin-bottom: em(150);
  h1 {
    font-family: $jumbo-header;
    text-align: center;
    padding-top: em(30);
    font-size: 3em;
    font-weight: 200;
  }
  .lead { 
    text-align: center;
    font-family: $serif;
    font-style: italic;
    font-size: em(24);
  }
}

.right-menu {
  display: inline-block;
  float: right;
  li {
    display: inline-block;
    float: left;
  }
}

.line-divider {
  border-top: 1px solid $light-gray;
}

footer.top {
  text-align: center;
  position: relative;
  .hexagon {
    left: 0;
    right: 0;
    margin: -31px auto 0 auto;
    background-color: $light-gray;
    &:before {
      border-right-color: $light-gray;
    }
    &:after {
      border-left-color: $light-gray;
    }
  }
  .call-to-action {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    a {
      text-transform: uppercase;
    }
    img.logo {
      height: em(100);
      padding: em(15);
      margin-top: -50px;
      background-color: #fafafa;
    }
    span{
      display: block;
      font-size: em(28);
      padding-top: em(15);
    }
  }
}

.who-we-are, .what-we-do {
  // @include outer-container(100);
  height: 100%;
  .main {
    margin: em(100) auto;
    background-color: $bts-red;
    height: em(500);
  }
  .jumbo {
    h1 {
      margin-top:0;
      padding-top: em(5);
      color: #fff;
    }
  }
}

.what-we-do {
  .main {background-color: #fafafa;}
  .jumbo h1 { color: $bts-red; }
}




